DERIV_APP_ID=reemplaza_con_tu_app_id
DERIV_DEMO_TOKEN=reemplaza_con_tu_token_demo
DERIV_DEMO_ACCOUNT_ID=DOT00000000
DERIV_REAL_TOKEN=reemplaza_con_tu_token_real
DERIV_REAL_ACCOUNT_ID=CR00000000
APP_USERNAME=admin
APP_PASSWORD=reemplaza_con_una_contrasena_larga
PORT=3000
